<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PedidosServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PedidosServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44357/PedidosService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PedidosServiceSoap"
                contract="PedidosServiceRef.PedidosServiceSoap" name="PedidosServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>